{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}

{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<section class="content-header">
    <h1>
        <i class="fa fa-edit"></i> Tambah Gaji Pokok
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-body">
                    <form action="{% url 'gajipokok_add' %}" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="col-sm-8">
                            <br>                            
                            <div class="form-group">
                                <label for="nama_pegawai" class="col-sm-3 control-label">{{form.nama_pegawai.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.nama_pegawai}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jabatan" class="col-sm-3 control-label">{{form.jabatan.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.jabatan}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tgl_bayar" class="col-sm-3 control-label">{{form.tgl_bayar.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.tgl_bayar}}
                                </div>  
                            </div><br>
                            <div class="form-group">
                                <label for="tmt" class="col-sm-3 control-label">{{form.tmt.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.tmt}}
                                </div> 
                            </div>
                            <div class="form-group">
                                <label for="gaji_pokok" class="col-sm-3 control-label">{{form.gaji_pokok.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.gaji_pokok}}
                                </div>
                            </div>

                            <div class="form-group col-md-4 pull-right">
                                <input type="submit" value="Tambah" class="btn btn-primary confirm-add"></input>
                                <a href="{% url 'gajipokok'%}" type="button" class="btn btn-danger">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script>
    $('.confirm-add').on('click', function(e) {
        return confirm('Apakah anda yakin ingin menambah data tersebut?')
    })
</script>
{% endblock %}