{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}

{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% load crispy_forms_tags %}
<section class="content-header">
    <h1>
        <i class="fa fa-file"></i> Profile Pegawai
    </h1>
</section>
<section class="content">
<div class="row">
<div class="panel panel-default pull-left">
    <div class="col-md-6">
    <p style="width: 300px; height: 400px; text-align: center">Foto</p>
    <p style="text-align: center">Id Pegawai</p>
    <p style="text-align: center">Nama</p>
    </div>
</div>
<div class="panel panel-default pull-right">
    <div class="panel-heading">
        <b>Biodata</b>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>No. KTP : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Tempat Lahir : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Tanggal Lahir : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Alamat : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>NPWP : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>No. HP :</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>E-mail : </th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-heading">
        <b>Rekening Bank</b>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Bank : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Nama : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>No. Rekening : </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Kantor Cabang : </th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-heading">
        <b>Perjanjian Kerja</b>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                   <tr>
                       <th>No.</th>
                       <th>No. Surat Keterangan</th>
                       <th>Jabatan</th>
                       <th>Jenis Perjanjian</th>
                       <th>Tanggal Mulai</th>
                       <th>Tanggal Berakhir</th>
                       <th>Upah</th>
                       <th>Keterangan</th>
                   </tr>
                   <tr>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                   </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-actions col-md-8">
    <a href="{% url 'pegawai'%}" type="button" class="btn btn-danger">Kembali</a>
</div>
</div>
</section>
{% endblock %}