{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}

{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }
<section class="content-header">
    <h1>
        <i class="fa fa-edit"></i> Edit Pegawai Aktif<strong> -  {{pegawai.no_pegawai}}</strong>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-body">
                    <form action="{% url 'pegawai_edit' pk=pegawai.pk %}" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="col-sm-8">
                        	<h3>Biodata</h3>
                            <br>
                            <div class="form-group">
                                <label for="no_pegawai" class="col-sm-3 control-label">Id Pegawai :</label>
                                <div class="col-sm-8">
                                    {{form.no_pegawai}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nama_pegawai" class="col-sm-3 control-label">Nama Pegawai :</label>
                                <div class="col-sm-8">
                                    {{form.nama_pegawai}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="no_ktp" class="col-sm-3 control-label">No. KTP :</label>
                                <div class="col-sm-8">
                                    {{form.no_ktp}}
                                </div>  
                            </div>
                            <div class="form-group">
                                <label for="tempat_lahir" class="col-sm-3 control-label">Tempat Lahir :</label>
                                <div class="col-sm-8">
                                    {{form.tempat_lahir}}
                                </div> 
                            </div>
                            <div class="form-group">
                                <label for="tgl_lahir" class="col-sm-3 control-label">Tanggal Lahir :</label>
                                <div class="col-sm-8">
                                    {{form.tgl_lahir}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="alamat" class="col-sm-3 control-label">Alamat :</label>
                                <div class="col-sm-8">
                                    {{form.alamat}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="npwp" class="col-sm-3 control-label">NPWP :</label>
                                <div class="col-sm-8">
                                    {{form.npwp}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email :</label>
                                <div class="col-sm-8">
                                    {{form.email}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="no_hp" class="col-sm-3 control-label">No. HP :</label>
                                <div class="col-sm-8">
                                    {{form.no_hp}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="foto" class="col-sm-3 control-label">Foto :</label>
                                <div class="col-sm-8">
                                    {{form.foto}}
                                </div>
                            </div><br>

                            <h3>Rekening Bank</h3>
                            <div class="form-group">
                                <label for="bank" class="col-sm-3 control-label">Bank :</label>
                                <div class="col-sm-8">
                                    {{form.bank}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nama" class="col-sm-3 control-label">Nama :</label>
                                <div class="col-sm-8">
                                    {{form.nama}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="no_rekening" class="col-sm-3 control-label">No. Rekening :</label>
                                <div class="col-sm-8">
                                    {{form.no_rekening}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="kantor_cabang" class="col-sm-3 control-label">Kantor Cabang :</label>
                                <div class="col-sm-8">
                                    {{form.kantor_cabang}}
                                </div>
                            </div><br>

                            <h3>Perjanjian Kerja</h3>
                            <div class="form-group">
                                <label for="no_surat_keterangan" class="col-sm-3 control-label">No. Surat Keterangan :</label>
                                <div class="col-sm-8">
                                    {{form.no_surat_keterangan}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jabatan" class="col-sm-3 control-label">Jabatan :</label>
                                <div class="col-sm-8">
                                    {{form.jabatan}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jenis_perjanjian" class="col-sm-3 control-label">Jenis Perjanjian :</label>
                                <div class="col-sm-8">
                                    {{form.jenis_perjanjian}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mulai_perjanjian_kerja" class="col-sm-3 control-label">Mulai :</label>
                                <div class="col-sm-8">
                                    {{form.mulai_perjanjian_kerja}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="akhir_perjanjian_kerja" class="col-sm-3 control-label">Akhir :</label>
                                <div class="col-sm-8">
                                    {{form.akhir_perjanjian_kerja}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="upah" class="col-sm-3 control-label">Upah :</label>
                                <div class="col-sm-8">
                                    {{form.upah}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="keterangan" class="col-sm-3 control-label">Keterangan :</label>
                                <div class="col-sm-8">
                                    {{form.keterangan}}
                                </div>
                            </div><br>

                            <div class="form-group pull-right">
                                <input type="submit" value="Simpan" class="btn btn-primary confirm-edit"></input>
                                <a href="{% url 'pegawai' %}" type="button" class="btn btn-danger">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    $('.confirm-edit').on('click', function(e) {
        return confirm('Apakah anda yakin ingin mengubah data tersebut?')
    })
</script>
{% endblock %}