{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}
<style>
    #rcorners {
  border-radius: 25px;
  border: 2px solid #4682B4;
  padding: 20px; 
  width: absolute;
  height: absolute;  
}
</style>
<section class="content-header">
    <h1>
        <i class="fa fa-database"></i> Pegawai Aktif
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <form action="">
                                <div class="input-group input-group-md col-md-6 col-xs-8 col-lg-6 pull-left">
                                    <input id="search_box_pegawai" type="text" class="form-control" placeholder="Cari.....">
                                    <span class="input-group-btn">
                                        <button id="search_submit_supplier" type="button" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="pull-right col-md-4">
                            <a class="btn btn-primary pull-right" href="/siga/pegawai/pegawai_aktif/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        </div>
                    </div>
                    <!-- pagination atas -->
                    <center>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center">
                                {% if daftar_pegawai.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_pegawai.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_pegawai.number }} of {{ daftar_pegawai.paginator.num_pages }}.</span></li>
                                {% if daftar_pegawai.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_pegawai.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_pegawai.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                    <!-- end pagination atas -->
                    
                    <!-- konten -->
                    <div class="row">
                    <div class="col-sm-12">
                        {% for pegawai in daftar_pegawai %}
                        <div class="col-sm-3" id="rcorners">
                        <div class="row">
                        <div class="col-sm-8">
                            <p style="width: 100px; height: 100px; text-align: center">Foto : {{ pegawai.foto }}</p>
                        </div>
                        <div class="col-sm-3">
                            <a href="/siga/pegawai/pegawai_aktif/edit/{{ pegawai.id_pegawai }}" class="btn btn-success" style="width: 40px; height: 40px;"><i class="fa fa-edit"></i></a>
                            <a href="/siga/pegawai/pegawai_aktif/delete/{{ pegawai.id_pegawai }}" class="btn btn-danger confirm-delete"  style="width: 40px; height: 40px;"><i class="fa fa-trash"></i></a>
                            <a href="/siga/pegawai/pegawai_aktif/show/{{ pegawai.id_pegawai }}" class="btn btn-info"  style="width: 40px; height: 40px;"><i class="fa fa-info"></i></a>
                        </div>
                        </div>
                            <p>Id Pegawai : {{ pegawai.no_pegawai }}</p>
                            <p>Nama : {{ pegawai.nama_pegawai }}</p>
                            <p>Alamat : {{ pegawai.alamat }}</p>
                            <p>No. HP : {{ pegawai.no_hp }}</p>
                            <p>No. Rekening : {{ pegawai.no_rekening }}</p>
                            <p>E-mail : {{ pegawai.email }}</p>
                        </div>
                        {% endfor %}
                        <br>
                    </div><br>
                    </div>
                    <!-- end konten -->
                    
                    <!-- pagination bawah -->
                    <center>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center">
                                {% if daftar_pegawai.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_pegawai.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_pegawai.number }} of {{ daftar_pegawai.paginator.num_pages }}.</span></li>
                                {% if daftar_pegawai.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_pegawai.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_pegawai.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                    <!-- end pagination bawah -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    $('.confirm-delete').on('click', function(e) {
        return confirm('Apakah anda yakin ingin menghapus data tersebut?')
    })
</script>
{% endblock %}