{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}

{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% load crispy_forms_tags %}
<section class="content-header">
    <h1>
        <i class="fa fa-edit"></i> Tambah Pegawai
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-body form-group">
                    <form action="{% url 'pegawai_add' %}" method="POST" class="form-horizontal">
                        {% csrf_token %} {% crispy form %}

                        <!-- tabel create ada di forms.py -->
                    
                        <div class="form-actions col-md-8 pull-right">
                            <br> 
                            <input type="submit" value="Tambah" class="btn btn-primary confirm-add"></input>
                            <input type="submit" value="Tambah dan Simpan" class="btn btn-primary"></input>
                            <a href="{% url 'pegawai'%}" type="button" class="btn btn-danger">Kembali</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script>
        var input = $('#rekening-bank').find('div#div_id_bank');
        var input1 = $('#rekening-bank').find('div#div_id_nama');
        var input2 = $('#rekening-bank').find('div#div_id_no_rekening');
        var input3 = $('#rekening-bank').find('div#div_id_kantor_cabang');

        var appendinput = []
        $.each(input,function(index,data){
            if (index > 0) {
                $(data).hide()
            }
            
        })
         $.each(input1,function(index,data){
            if (index > 0) {
                $(data).hide()
            }
            
        })
          $.each(input2,function(index,data){
            if (index > 0) {
                $(data).hide()
            }
            
        })
           $.each(input3,function(index,data){
            if (index > 0) {
                $(data).hide()
            }
            
        })

    $('.confirm-add').on('click', function(e) {
        // $('#rekening-bank').show();
        // document.getElementById("rekening-bank").style.display = 'block';
        $('#rekening-bank').find('div#div_id_bank').show();
        $('#rekening-bank').find('div#div_id_nama').show();
        $('#rekening-bank').find('div#div_id_no_rekening').show();
        $('#rekening-bank').find('div#div_id_kantor_cabang').show();

    });

</script>
{% endblock %}