{% extends  "layout/admin/base-admin.html" %}

{% load static %}

{% block page_content %}

<section class="content-header">
    <h1 style="font-size:50px;">SELAMAT DATANG</h1>
    <br/>
    <h1>
        Sistem Informasi Penggajian merupakan sebuah sistem untuk mengelola penggajian karyawan pada CV. Adisatya IT Consultant.
    </h1>
</section>

{% endblock %}