{% include "layout/base.html" %}

{% load static %}

{% block content %}
<section class="login-form">
    <form method="post" action="" role="login">
        <strong><h6><center>SISTEM INFORMASI INVENTARIS BARANG</center></h6></strong>
        <img src="{% static 'assets/images/logo.png' %}" class="img-responsive" width="100" height="100" />
        <center><h5>CV. Adisatya IT Consultant</h5></center>
        <input type="email" name="email" placeholder="Email" required class="form-control input-lg" />
        <input type="password" name="password" placeholder="Password" required class="form-control input-lg" />
        <a type="submit" href="{% url 'dashboard' %}" name="login" class="btn btn-lg btn-primary btn-block">Sign in</a>
    </form>
</section>
{% endblock %}
