{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}
<section class="content-header">
    <h1>
        <i class="fa fa-edit"></i> Edit Bank<strong> -  {{bank.nama_bank}}</strong>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-body">
                    <form action="{% url 'bank_edit' pk=bank.pk %}" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="col-sm-8">
                            <br>
                            <div class="form-group">
                                <label for="nama_bank" class="col-sm-3 control-label">{{form.nama_bank.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.nama_bank}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="keterangan" class="col-sm-3 control-label">{{form.keterangan.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.keterangan}}
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <input type="submit" value="Simpan" class="btn btn-primary confirm-edit"></input>
                                <a href="{% url 'bank' %}" type="button" class="btn btn-danger">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    $('.confirm-edit').on('click', function(e) {
        return confirm('Apakah anda yakin ingin mengubah data tersebut?')
    })
</script>
{% endblock %}