{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}
<section class="content-header">
    <h1>
        <i class="fa fa-database"></i> bank
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <form action="">
                                <div class="input-group input-group-md col-md-6 col-xs-8 col-lg-6 pull-left">
                                    <input id="search_box_bank" type="text" class="form-control" placeholder="Cari.....">
                                    <span class="input-group-btn">
                                        <button id="search_submit_supplier" type="button" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="pull-right col-md-4">
                            <a class="btn btn-primary pull-right" href="/siga/data/bank/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        </div>
                    </div>
                    <!-- pagination atas -->
                    <center>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center">
                                {% if daftar_bank.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_bank.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_bank.number }} of {{ daftar_bank.paginator.num_pages }}.</span></li>
                                {% if daftar_bank.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_bank.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_bank.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                    <!-- end pagination atas -->
                    
                    <!-- konten -->
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="data" class="table table-bordered table-striped table-responsive no-padding">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Bank</th>
                                        <th>Keterangan</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if daftar_bank %}
                                    {% for bank in daftar_bank %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ bank.nama_bank }}</td>
                                        <td>{{ bank.keterangan }}</td>
                                       
                                        <td><a href="/siga/data/bank/edit/{{ bank.id_bank }}" class="btn btn-info"><i
                                            class="fa fa-edit"></i></a>
                                            <a href="/siga/data/bank/delete/{{ bank.id_bank }}" class="btn btn-danger confirm-delete"><i
                                                class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="5"><center>Tidak ada data bank saat ini...</center></td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end konten -->
                        
                        <!-- pagination bawah -->
                        <center>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-lg justify-content-center">
                                    {% if daftar_bank.has_previous %}
                                    <li class="page-item">
                                        <a href="?page=1" class="page-item">&laquo;</a>
                                        <a href="?page={{ daftar_bank.previous_page_number }}" class="page-item">&lt;</a>
                                    </li>
                                    {% endif %}
                                    <li class="page-item disabled"><span class="current">Page {{ daftar_bank.number }} of {{ daftar_bank.paginator.num_pages }}.</span></li>
                                    {% if daftar_bank.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ daftar_bank.next_page_number }}">&gt;</a>
                                        <a class="page-link" href="?page={{ daftar_bank.paginator.num_pages }}">&raquo;</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </center>
                        <!-- end pagination bawah -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        $('.confirm-delete').on('click', function(e) {
            return confirm('Apakah anda yakin ingin menghapus data tersebut?')
        })
    </script>
    {% endblock %}