{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}
<section class="content-header">
    <h1>
        <i class="fa fa-edit"></i> Edit Gaji Bulanan<strong> -  {{bulanan.nama_pegawai}}</strong>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-body">
                    <form action="{% url 'bulanan_edit' pk=bulanan.pk %}" method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="col-sm-8">
                            <br>
                            <div class="form-group">
                                <label for="nama_pegawai" class="col-sm-3 control-label">{{form.nama_pegawai.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.nama_pegawai}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jabatan" class="col-sm-3 control-label">{{form.jabatan.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.jabatan}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="gaji_pokok" class="col-sm-3 control-label">{{form.gaji_pokok.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.gaji_pokok}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bonus" class="col-sm-3 control-label">{{form.bonus.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.bonus}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bpjs" class="col-sm-3 control-label">{{form.bpjs.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.bpjs}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pinjaman" class="col-sm-3 control-label">{{form.pinjaman.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.pinjaman}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="total_gaji" class="col-sm-3 control-label">{{form.total_gaji.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.total_gaji}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="periode_pembayaran" class="col-sm-3 control-label">{{form.periode_pembayaran.label}} :</label>
                                <div class="col-sm-8">
                                    {{form.periode_pembayaran}}
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <input type="submit" value="Simpan" class="btn btn-primary confirm-edit"></input>
                                <a href="{% url 'bulanan' %}" type="button" class="btn btn-danger">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    $('.confirm-edit').on('click', function(e) {
        return confirm('Apakah anda yakin ingin mengubah data tersebut?')
    })
</script>
{% endblock %}