{% extends  "layout/admin/base-admin.html" %}
{% load static %}

{% block page_content %}
<section class="content-header">
    <h1>
        <i class="fa fa-database"></i> Gaji Bulanan
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <form action="">
                                <div class="input-group input-group-md col-md-6 col-xs-8 col-lg-6 pull-left">
                                    <input id="search_box_bulanan" type="text" class="form-control" placeholder="Cari.....">
                                    <span class="input-group-btn">
                                        <button id="search_submit_supplier" type="button" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="pull-right col-md-4">
                            <a class="btn btn-primary pull-right" href="/siga/gaji/bulanan/tambah"><i class="fa fa-plus"></i> Tambah</a>
                        </div>
                    </div>
                    <!-- pagination atas -->
                    <center>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg justify-content-center">
                                {% if daftar_bulanan.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-item">&laquo;</a>
                                    <a href="?page={{ daftar_bulanan.previous_page_number }}" class="page-item">&lt;</a>
                                </li>
                                {% endif %}
                                <li class="page-item disabled"><span class="current">Page {{ daftar_bulanan.number }} of {{ daftar_bulanan.paginator.num_pages }}.</span></li>
                                {% if daftar_bulanan.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ daftar_bulanan.next_page_number }}">&gt;</a>
                                    <a class="page-link" href="?page={{ daftar_bulanan.paginator.num_pages }}">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </center>
                    <!-- end pagination atas -->
                    
                    <!-- konten -->
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="data" class="table table-bordered table-striped table-responsive no-padding">
                                <thead>
                                    <tr>
                                        <th>Nama Pegawai</th>
                                        <th>Jabatan</th>
                                        <th>Gaji Pokok</th>
                                        <th>BPJS</th>
                                        <th>Pinjaman</th>
                                        <th>Total Gaji</th>
                                        <th>Periode Pembayaran</th>
                                        <th>Dibayarkan</th>
                                        <th>Aksi</th>                                     </tr>
                                    </thead>
                                    <tbody>
                                        {% if daftar_bulanan %}
                                        {% for bulanan in daftar_bulanan %}
                                        <tr>
                                            <td>{{ bulanan.nama_pegawai }}</td>
                                            <td>{{ bulanan.jabatan }}</td>
                                            <td>{{ bulanan.gaji_pokok }}</td>
                                            <td>{{ bulanan.bpjs }}</td>
                                            <td>{{ bulanan.pinjaman }}</td>
                                            <td>{{ bulanan.total_gaji }}</td>
                                            <td>{{ bulanan.periode_pembayaran }}</td>
                                            <td><form action="" method="post">
                                                <center><input class="form-check-input" type="checkbox" id="cek" >
                                                </center></form></td>
                                                
                                                <td><a href="/siga/gaji/bulanan/edit/{{ bulanan.id_bulanan }}" class="btn btn-info"><i
                                                    class="fa fa-edit"></i></a>
                                                    <a href="/siga/gaji/bulanan/delete/{{ bulanan.id_bulanan }}" class="btn btn-danger confirm-delete"><i
                                                        class="fa fa-trash"></i></a>
                                                        <a href="/siga/gaji/bulanan/print/{{ bulanan.id_bulanan }}" class="btn btn-success"><i
                                                            class="fa fa-print"></i></a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% else %}
                                                    <tr>
                                                        <td colspan="5"><center>Tidak ada data gaji bulanan saat ini...</center></td>
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- end konten -->
                                    
                                    <!-- pagination bawah -->
                                    <center>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination pagination-lg justify-content-center">
                                                {% if daftar_bulanan.has_previous %}
                                                <li class="page-item">
                                                    <a href="?page=1" class="page-item">&laquo;</a>
                                                    <a href="?page={{ daftar_bulanan.previous_page_number }}" class="page-item">&lt;</a>
                                                </li>
                                                {% endif %}
                                                <li class="page-item disabled"><span class="current">Page {{ daftar_bulanan.number }} of {{ daftar_bulanan.paginator.num_pages }}.</span></li>
                                                {% if daftar_bulanan.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ daftar_bulanan.next_page_number }}">&gt;</a>
                                                    <a class="page-link" href="?page={{ daftar_bulanan.paginator.num_pages }}">&raquo;</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </center>
                                    <!-- end pagination bawah -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endblock %}
                {% block extrajs %}
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
                <script>
                    $('.confirm-delete').on('click', function(e) {
                        return confirm('Apakah anda yakin ingin menghapus data tersebut?')
                    })
                </script>
                {% endblock %}