{% load static %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">PENGGAJIAN</li>
            <li><a href="/siga"><i class="fa fa-home"></i> <span>DASHBOARD</span></a></li>
            <li class="treeview">
                <!-- PEGAWAI -->
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>PEGAWAI</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/siga/pegawai/pegawai_aktif"><i class="fa fa-circle-o"></i> Pegawai Aktif</a></li>
                </ul>
            </li>
            <!-- GAJI -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>GAJI</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/siga/gaji/gajipokok"><i class="fa fa-circle-o"></i> Pokok</a></li>
                    <li><a href="/siga/gaji/bulanan"><i class="fa fa-circle-o"></i> Bulanan</a></li>
                    <li><a href="/siga/gaji/pinjaman"><i class="fa fa-circle-o"></i> Pinjaman</a></li>
                </ul>
            </li>
            <!-- DATA -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>DATA</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/siga/data/jabatan"><i class="fa fa-circle-o"></i> Jabatan</a></li>
                    <li><a href="/siga/data/bank"><i class="fa fa-circle-o"></i> Bank</a></li>
                    <li><a href="/siga/data/bulan"><i class="fa fa-circle-o"></i> Bulan</a></li>   
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>