{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
<title>Adisatya ~ Penggjian</title>
<!-- FONT MULI -->
<link href="https://fonts.googleapis.com/css?family=Muli:700&display=swap" rel="stylesheet">
<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
<!-- LOGIN CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/styles.css' %}" />

